<p>control-flow works!</p>
<table>
    <tr>
        <td>
            @if(isParaVisible === true){
                <p>This is sample</p>
            }@else{
                <h3>This Variable has false value</h3>
            }
            
        </td>
        <td>
            <button (click)="showP()" class="btn btn-primary">Show P</button>
        </td>
        <td>
            <button (click)="hideP()" class="btn btn-danger">Hide P</button>
        </td>
    </tr>
    <tr>
        <td>
            @if(startMonthName=="jan"){
                <span>January</span>
            }@else if (startMonthName=="feb") {
                <span>February</span>
            }@else if (startMonthName=="feb") {
                <span>February</span>
            }@else if (startMonthName=="mar") {
                <span>Maret</span>
            }@else if (startMonthName=="apr") {
                <span>April</span>
            }@else {
                <span>Wrong Input</span>
            }
        </td>
        <td>
            <input type="text" [(ngModel)]="startMonthName">
        </td>
    </tr>
    <tr>
        <td>
            <ul>
                @for(item of citylist; track $index){
                     <li>{{ item }}</li>
                }
               
            </ul>
        </td>
        <td>
            <select name="" id="">
                @for (item of citylist; track $index) {
                    <option value="">{{ item }}</option>
                }
            </select>
        </td>
    </tr>
</table>
<br>
<table>
    <thead>
        <tr>
            <td>No</td>
            <td>Name</td>
            <td>City</td>
            <td>status</td>
        </tr>
    </thead>
    <tbody>
        @for (item of studentList; track $index) {
            <tr>
                <td>{{ $index+1 }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.city }}</td>
                <td>
                    @if(item.isActive == true){
                       <h6>Active</h6> 
                    }@else {
                       <h6> De Active</h6> 
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
